.timer {
    display: flex;
    justify-content: space-between;
}


link {
    display: none;
  }

body {
    background-color: white;
}

.welcome h1  {
    color: white;
    text-align: center;
    padding: 3px 0px;
    width: 400px;
    font-size: 40px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rebeccapurple;
    display: center;
    justify-content: space-evenly;
}

.Welcome p {
    width: 250px;
    display: flex;
    text-align: justify;
    font-size: 15px;
    border: 0px solid white;  
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.container {
    height: 50px;
    width: 100px;
    background-color: white;
    padding: 10px 45px 45px 45px;
    margin: auto;
    border-radius: 75px;
}


.container h1 {
    color: white;
    text-align: center;
    padding: 0px 0px;
    width: 400px;
    font-size: 40px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rebeccapurple;
}

.btn {
  width: 175px;
  display: list-item;
  text-align: center;
  background-color: grey;
  font-size: 15px;
  border: 0px solid white;  
  margin: 10px
}

.selector {
    display: inline-flex;
    justify-content: center;

}


